{% extends 'base.html' %}
{% block title %}Book Reservation{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<h2>Book A Reservation</h2>
<h4>Search available appointments:</h4>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%239E69AF&ctz=America%2FLos_Angeles&title=Reservation%20Calendar&src=MXVhbzJyb2c1cmQwNWt1cGZxMTZkZmlmZnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
<tim
{% endblock %}